
<div class="form-container">

  <mat-form-field appearance="outline">
    <mat-label>Nom</mat-label>
    <input matInput placeholder="Nom">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Prénom</mat-label>
    <input matInput placeholder="Prénom">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Nombre de pavé</mat-label>
    <input matInput placeholder="Nombre de pavé">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Taille du pavé"</mat-label>
    <input matInput placeholder="Taille du pavé">
  </mat-form-field>

  <button type="button" class="btn btn-lg btn-primary" disabled>Commander</button>
  <button type="button" class="btn btn-secondary btn-lg" disabled>Annuler</button>

</div>
