<div class='container-fluid'>
  <div class="row" style="padding: 20px;">
    <div class="col-sm-12 btn btn-success">
      Use Bootstrap carousel in Angular 8 Project
    </div>
  </div>
  <div class='col-12'>
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="/assets/img/carousel/IMG_1086.JPG" alt="Delhi Metro">
        <div class="carousel-caption">
          <h3 style="color: yellow">Delhi Metro</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="/assets/img/carousel/DSC_0372.JPG" alt="Bangalore Metro">
        <div class="carousel-caption">
          <h3 style="color: yellow">Bangalore Metro</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="/assets/img/carousel/DSC_0327.JPG" alt="Channai Metro">
        <div class="carousel-caption">
          <h3 style="color: yellow">Channai Metro</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="/assets/img/carousel/DSC_0384.JPG" alt="Jaipur Metro">
        <div class="carousel-caption">
          <h3 style="color: yellow">Jaipur Metro</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="/assets/img/carousel/IMG_1087.JPG" alt="Mumbai Metro">
        <div class="carousel-caption">
          <h3 style="color: yellow">Mumbai Metro</h3>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

</div>
