
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark justify-content-center">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Mavico</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">
           <i class="bi-house"></i>
            Home</a>
        <a class="nav-link" href="#about">
          <i class="bi-people-fill"></i>
          A propos de nous</a>
        <a class="nav-link" href="#services">
          <i class="bi-hand-thumbs-up-fill"></i>
          Nos services</a>

        <a class="nav-link" href="#product">
          <i class="bi-cart"></i>
          Nos Produits
        </a>

        <a class="nav-link " routerLink="work" tabindex="-1">
          <i class="bi-bricks"></i>
          Notre travail</a>
        <a class="nav-link" href="#command">
          <i class="bi-shop"></i>
          Commander</a>
        <a class="nav-link" href="#contact">
          <i class="bi-whatsapp"></i>
          Nous contacter</a>
      </div>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>

