
<div class="scroll_container container-fluid">

  <section class="section about" id="about">
    <h2 class="h2 section__title  text-center text-primary"> A Propos de nous </h2>
    <div class="container">
      <div class="row">

        <div class="col">
          <img class="card-img" src="/assets/logo/Logo%20Mavico%201.jpg" alt="mavico logo">
        </div>

        <div class="col">
          <p class="p-lg-5 text-center about__text">
            SN-MAVICO est une société de production industrielle de blocs bétons ou parpaings. Les briques produites sont
            fortement vibrées et compressées pour une qualité qui défie toute concurrence.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section services" id="services">
    <h2 class="h2 section__title text-center text-primary">Nos Services</h2>

    <div class=" scroll-container container service__container">

        <div class="flex-row">
          <div class="flex-column">
            <h3 class="h3 text-center text-warning"> UNE SOLIDITE POUR LA VIE !</h3>
          </div>

          <div class="flex-column">
            <div class="text-center">
              <img class="img-fluid" src="/assets/img/serv/pyramid_PNG36.png" alt="solidity service pic" height="200" width="200">
            </div>
          </div>

          <div class="flex-column">
            <p class="p-4 text-center text-white">
              Constitués à 94% de gravier, de sable ainsi que de 6% d'eau, les blocs béton SN-MAVICO sont inaltérables
              incombustibles et inoxydables
            </p>
          </div>

        </div>

        <div class="flex-row">
          <div class="flex-column">
            <h3 class="h3 text-center text-warning"> DES DEPENSES EN MOINS</h3>
          </div>


          <div class="flex-column">
            <div class="text-center">
              <img class="img-fluid text-center" src="/assets/img/wallet_PNG77005.png" alt="spending service pic" width="200" height="200">
            </div>
          </div>

          <div class="flex-column">
            <p class="p-4 text-center text-white-50">
              L'utilisation des blocs de béton SN-MAVICO permet de réaliser des economies en bois de
              coffrage et d'étais et en mortier. De plus leur utilisation pratique permet de raccourcir vos délais
            </p>
          </div>
        </div>



        <div class="flex-row">

          <div class="flex-column">
            <h3 class="h3 text-center text-warning">UN CONFORT THERMIQUE ET ACCOUSTIQUE ASSURE</h3>
          </div>

          <div class="flex-column">
            <div class="text-center">
              <img class="img-fluid" src="/assets/img/serv/house_PNG48.png" alt="comfort service pic" width="200" height="200">
            </div>
          </div>

          <div class="flex-column">
            <p class="p-4 text-center text-white">
              Le bloc de béton SN-MAVICO, par son systeme de double rangée d'alvéole, permet une isolation thermique et accoustique
              et efficace par l'interieur et par l'extérieur
            </p>
          </div>
        </div>



    </div>
  </section>

  <section class=" product" id="product">
    <h2 class="h2 text-center text-primary">Nos produits</h2>

    <div class="container">

      <div class="row">

        <div class="col">
          <img class="img-fluid" src="/assets/img/brique/BLOC_PLEIN.png" alt="bloc plein pic">
        </div>

        <div class="col">
          <h4 class="h4"> Bloc Plein</h4>

        </div>

        <div class="w-100"></div>

        <div class="col">
          <img class="img-fluid" src="/assets/img/brique/bloc%20creux.png" alt="bloc creux pic">
        </div>

        <div class="col">
          <h4 class="h4">Bloc Creux</h4>
        </div>



      </div>

      <div class="row">
        <div class="col">
          <img class="img-fluid" src="" alt="bloc longrine and chainage pic">
        </div>

        <div class="col">
          <h4 class="h4"> Bloc Longrine et Chainage</h4>
        </div>

        <div class="w-100"></div>

        <div class="col">
          <img class="img-fluid" src="/assets/img/brique/BLOC_CREUX_ANGLE_3LAMES.png" alt="bloc d'angle pic">
        </div>

        <div class="col">
          <h4 class="h4">Bloc d'angle</h4>
        </div>
      </div>

      <div class="row">

        <div class="col">
          <img class="img-fluid" src="/assets/img/brique/bloc%20a%20bancher.png" alt="bloc a Banché pic">
        </div>

        <div class="col">
          <h4 class="h4"> Bloc a Banché</h4>
        </div>

        <div class="w-100"></div>

        <div class="col">
          <img class="img-fluid" src="/assets/img/brique/poutrelle.png" alt="Poutrelles et Hourdis">
        </div>

        <div class="col">
          <h4 class="h4">POUTRELLES ET HOURDIS</h4>
        </div>
      </div>

    </div>

  </section>

  <section class=" section contact" id="contact">
    <h2 class="section__title h2 text-center text-primary">Contactez Nous</h2>

    <div class="container">
      <div class="row">

        <div class="col">
          <h4 class="mat-h4 text-center">Pour tous vos projets de constructoin, n'hesitez plus contactez nous !</h4>
        </div>
      </div>

      <div class="row">

        <div class="col">
          <ul>
            <li><i class="bx-mail-send"></i> mavico@fasonet.bf</li>
            <li><i class="bi-phone-fill"></i>
              <ol>a</ol>
              <ol>b</ol>
              <ol>c</ol>
            </li>
          </ul>
        </div>

        <div class="col">
          <img src="assets/img/address.PNG" alt="loc gps">
        </div>

      </div>

    </div>
  </section>

</div>
